# This group is read by the server
[mysqld]
datadir=/data
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# allow remote connections
bind-address = 0.0.0.0
skip-networking = off

# set log directory
log-error = /var/lib/mysql/error.log

# set port
port = 3306
